h1 {
    font-family: Arial, Helvetica, sans-serif;
}

/* lodo style start */
#lodoButton {
    font-size: 40px;
    cursor: pointer;
}

#lodoNumShow {
    font-size: 40px;
    margin-left: 20px;
}

/* lodo style end */